@import '../../../../colors';

.top-container{
  display: flex;
  flex-direction : row;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  align-items :end;

  .sprint-title{
    font-size: 20px;
  }
}

.tableau-points-container {
  display: flex;
  justify-content: end;
  width: auto;
}

.tableau-colonne-container {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  gap: auto;
  margin: 20px;
}


.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  cursor: grabbing !important;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

}

