<app-header [currentPage]="'Tableau'"></app-header>
<div class="top-container">
    <div>{{sprint.title}}</div>
    <app-tableau-points class="tableau-points-container" [pointsList]="sumList"
        [totalPoints]="updateTotal(sumList)"></app-tableau-points>
</div>


<div class="tableau-colonne-container">
    <app-tableau-column *ngFor="let column of columnList; let i = index" [title]="column[0]" [tickets]="column[1]"
        [columnIndex]="i" [connectedDropLists]="getConnectedDropLists()" (dropTicket)="drop($event, i)">
    </app-tableau-column>
</div>