
//orange and purple
/*
$custom-primary: #ffffff;
$custom-secondary: #222021;
$custom-green: #EA994F;
$custom-light: #ecdfd9;
$custom-dark: #9B84C4;
*/

//pink and blue
/*
$custom-primary: #ffffff;
$custom-secondary: #272727;
$custom-green: #E6B4AA;
$custom-light: #95C0BD;
$custom-dark: #26676E;
*/


//green 

$custom-primary: #ffffff;
$custom-secondary: #2B4141;
$custom-green: #CCD5AE;
$custom-light: #F3F6E9;
$custom-dark: #848C6A;
$custom-accent: #F37748;
$custom-accent-light: #FEF1EC
