<app-header [currentPage]="'Backlog'" [projectName]="'ScrumManager'"></app-header>
   
<app-popup *ngIf="popupFlag" [question]="popupQuestion" (answer)="onPopupClicked($event)"></app-popup>

<input class="search-input" placeholder="Rechercher" [(ngModel)]="searchText" />
<div class="body-container">
  <div class="sprints-container">
    <!-- Sprints list -->
     <div *ngFor="let sprint of sortedItems; let i = index">
      <app-backlog-sprint  *ngIf="!sprint.backlog"    [searchText]="searchText" [sprint]="sprint"
      [sprintIndex]="i + 1" [connectedDropLists]="getConnectedDropLists()" (dropTicket)="drop($event, i + 1)"
      (clickedTicket)="openDetails($event)" (deleteSprint)="onClickDelete($event)"></app-backlog-sprint>
     </div>
    
    <!-- Add sprint button -->
    <button class="button-add-sprint" (click)="addSprint()">
      <p>
        +
      </p>
      <p>
        Créer un sprint
      </p>
    </button>
    <!-- Backlog -->
    <app-backlog-sprint [searchText]="searchText" [sprint]="getBacklog(sprints)" [sprintIndex]="0"
      [connectedDropLists]="getConnectedDropLists()" (dropTicket)="drop($event, 0)"
      (clickedTicket)="openDetails($event)"></app-backlog-sprint>
  </div>

  <app-backlog-detail-ticket class="ticket-detail-container" *ngIf="details" [inputTicket]="clickedTicket"
    (toggleDetails)="toggleDetails($event)"></app-backlog-detail-ticket>
</div>

