<app-header [currentPage]="'Backlog'"></app-header>

<input class="search-input" placeholder="Rechercher" [(ngModel)]="searchText" />
<div class="body-container">
  <div class="sprints-container">
    <app-backlog-sprint *ngFor="let sprint of sprints; let i = index"  [searchText]="searchText" [sprint]="sprint" [sprintIndex]="i"
      [connectedDropLists]="getConnectedDropLists()" (dropTicket)="drop($event, i)" (clickedTicket)="openDetails($event)"></app-backlog-sprint>
  </div>

  <app-backlog-detail-ticket class="ticket-detail-container" *ngIf="details" [inputTicket]="clickedTicket" (toggleDetails)="toggleDetails($event)"></app-backlog-detail-ticket>
</div>
